<nav class="navbar navbar-light bg-menu navbar-expand-sm fixed-top">
    <a class="navbar-brand logo"><img src="../assets/logo/bolsa_logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse menu " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">My Dashboard</a>
            </li>
        </ul>
         <ul class="navbar-nav ml-auto nav-flex-icons">
           <li class="nav-item">
               <a class="nav-link waves-effect">My Account</a>
           </li>
           <li class="nav-item">
               <a class="nav-link waves-effect">LogIn</a>
           </li>
            <li class="nav-item">
                <a class="nav-link waves-effect">LogOut</a>
            </li>
        </ul>
    </div>
</nav>
